<footer>
    <div>
        <p class="team-name">Team hsr</p>
        <div class="router-links">
            <a href="/addnew">Add post</a>
        </div>
        <p class="credits">© 2021</p>
    </div>
</footer>
<script src="/assets/script.js"></script>