/* General */
html {
  min-height: 100%;
}

body {
  background-color: #1678bd;
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 55%;
  min-height: 100%;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

a {
  color: #00c4ff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:not(.userPost):hover {
  color: #009bca;
}

input {
  padding: 10px 12px;
  border: 1px solid #b8b8b8;
  border-radius: 4px;
  outline: none;
}

input:focus {
  border: 1px solid #3a3a3a;
}

/* Buttons */
.btn {
  background-color: #1678bd;
  border-radius: 4px;
  outline: none;
  color: #fff;
  border: none;
  padding: 10px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
}

.btn:not(:disabled):hover {
  background-color: #166298;
}

.btn:disabled {
  background-color: #546b7c;
  cursor: default;
}

/* Nav */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  /* align-items: center; */
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav div {
  height: 30px;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  padding: 10px;
}

header nav div img {
  height: 100%;
}

header nav div.router-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav div.router-links a {
  text-decoration: none;
  margin: auto 5px;
}

header nav div.router-links a.active {
  color: #009bca;
}

header nav div.user-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

header nav div.user-picture img {
  height: 100%;
  border-radius: 99px;
  cursor: pointer;
}

header nav span.dropdown-hidden {
  display: none;
}

header nav span.dropdown {
  display: block;
  position: absolute;
  list-style: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 16px -8px rgba(22, 98, 152, 0.5);
          box-shadow: 0 8px 16px -8px rgba(22, 98, 152, 0.5);
  padding: 12px 16px;
  margin: 40px -5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav:hover {
  -webkit-box-shadow: 0 5px 10px rgba(22, 98, 152, 0.5);
          box-shadow: 0 5px 10px rgba(22, 98, 152, 0.5);
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 50px;
}

footer div p {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  padding: 10px;
  margin: auto 5px;
  font-weight: bold;
}

footer div .team-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer div div.router-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div div.router-links a {
  text-decoration: none;
  margin: auto 5px;
}

footer div div.router-links a.router-link-active {
  color: #009bca;
}

footer div .credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

/* Feed */
.feed {
  background-color: #fff;
  padding: 50px 75px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  margin: 25px 0;
}

/* Post */
.userPost {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display: block;
  text-decoration: none;
  color: inherit;
}

.userPost:not(:last-child) {
  margin-bottom: 20px;
}

.userPost .userPostHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
}

.userPost .userPostHeader img {
  height: 50px;
  width: 50px;
  border-radius: 99px;
  -o-object-fit: cover;
     object-fit: cover;
}

.userPost .userPost + .userPost {
  margin-top: 20px;
}

.userPost .userPostContent p {
  margin: 4px 12px;
}

.userPost .userPostContent img {
  margin: 0 auto;
  width: 100%;
}

.userPost .userPostContent button {
  padding: 4px 12px;
  margin: 10px 10px;
  -webkit-box-shadow: 0 3px #999;
          box-shadow: 0 3px #999;
}

.userPost .userPostContent button:active {
  -webkit-box-shadow: 0 1px #666;
          box-shadow: 0 1px #666;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
/*# sourceMappingURL=style.css.map */